*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #323443;
  height: 100vh;
  display: grid;
  grid-template-areas: "header header" "side-bar content" "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  padding: 0 30px 0 0;
}

a,a:visited {
  text-decoration: none;
  color:#78A083 ;
}

a:hover {
  color: #4F7B87;
}
h1 {
  font-size: 2rem;
  color: #78A083;
  font-weight: 1000;
}
.header {
  display: flex;
  align-items: center;
  background-color: #323443;
  grid-area: header;
  padding-left: 30px;
}
.logo {
  width: 30px;
  height: 30px;
  background-image: url(./assets/format-list-text.svg);
}

.eye-logo {
  width: 30px;
  height: 30px;
  background-image: url(./assets/eye-plus-outline.svg);
  cursor: pointer;
}

.eye-logo-back {
  width: 30px;
  height: 30px;
  background-image: url(./assets/eye-remove-outline.svg);
  cursor: pointer;
}

.eye-logo:hover,.eye-logo-back:hover {
  opacity: 0.7;
}
.footer {
  display: flex;
  background-color: #323443;
  grid-area: footer;
  justify-content: center;
  align-items: center;
}

.content {
  animation: fadein 1s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  grid-area: content;
  background-color: #4F7B87;
  border-radius: 8px;
  border-top-left-radius: 0px;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.side-bar{
  display: flex;
  flex-direction: column;
  background:linear-gradient(to top, #323443, #35374B, #323443);
  grid-area: side-bar;
  gap: 5px;
}


.home,.projects,.tasks{
  display: flex;
  flex-direction: column;
}
button {
  padding: 25px;
  font-weight: 600;
  font-size: 1.5rem;
  color:#4F7B87 ;
  background-color: transparent;
  border: none;
}

button.previous-tab{
  background: linear-gradient(to right,#323443   50%,#4F7B87 50%);
  font-weight: 600;
  background-size: 200% 100%;
  background-position: left bottom;
  color: #50727B;
  background-color: #323443;
  transition: all ease 0.5s;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(to right, #323443 50%,#4F7B87  50%);
  font-weight: 600;
  background-size: 200% 100%;
  background-position: right bottom;
  color: #323443;
  background-color: #50727B;
  transition: all ease 0.5s;
  cursor: pointer;
}
button.current-tab {
  color: #323443;
  background-color: rgb(79, 123, 135);
  transition: none;
  background-position: right;
}


#delete-task,#delete-task:hover{
  background: none;
  color: red;
  padding: 0;
  font-size: 2.3rem;
  font-weight: 1000;
}

#delete-task:hover{color: rgb(150, 0, 0);}
.task {
  padding: 5px;
  display: flex;
  align-items: center;
  border: 3px solid #78A083;
  border-radius: 4px;
  gap: 5px;
  background-color: #323443;
  color: #78A083;
  box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
  transition: transform 0.35s;
}
.task:hover{
  transform: scale(1.01);
}
.task p {
  font-size: 1.4rem;
  font-weight: 500;
}

input[type=radio] {
  height: 30px;
  width: 30px;
  appearance: none;
  background-color: black;
  border-radius: 50%;
  opacity: 0;
  
}
input:hover {
  cursor: pointer;
}
.tri-state-toggle {
  background-color: green;
  display: flex;
  justify-content: center;
  border: 3px solid black;
  border-radius: 50px;
  padding:2px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
#one {
  opacity: 1;
}
.task-buttons {
  position: sticky;
  left: 100%;
  align-items: center;
  display: flex;
  gap:8px;
  
}

input[type=checkbox]{
  opacity: 1;
  border-radius: 0;
  appearance:auto;
  width: 20px;
  height: 20px;
}
input[type=checkbox]:checked{
  appearance: none;
  background-color: rgb(128, 128, 128,0.4);
  border: 1px solid #78A083;
}

input[type=date]{
  font-size: 1.3rem;
  width: 24px;
  border: none;
  background: none;
  color:#A3E7B5;
}
input[type=date]:hover {
  color: #78A083;
}

input[type=date]:focus{
  outline: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.overlay {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 45%);
  backdrop-filter: blur(5px);
  visibility: hidden;
}

.popup-window {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: black;
  border-radius: 8px;
  padding-left: 10px;
  box-shadow: 10px 5px 5px rgba(0,0,0,0.3);

}
.popup-window p {
  font-size: 1.4rem;
  color: #78A083;
  max-width: 400px;
  word-break: break-all;
  white-space: normal;
}
.popup-window h1 {
  margin-top: 20px;
  margin-right: 30px;
}
.popup-window button {
  padding: 0;
  width: 30px;
  position: sticky;
  left: 100%;
  bottom: 100%;
}

.popup-window button:hover {
  background: none ;  
  font-weight: 600;
  background-size: none;
  background-position: none;
  color: #78A083;
  transition: none;
}

#add-task,#add-project {
  background: none ;  
  font-weight: 600;
  background-size: none;
  background-position: none;
  color: #78A083;
  transition: none;
  background-color: #323443;
  border-radius: 8px;
  transition: transform 0.35s;
  
}

#add-task:hover,#add-project:hover{
  transform: scale(1.01);
  background-color: rgb(60, 62, 77);

}


dialog[open] {
  opacity: 1;
  transform: scaleY(1);
}

dialog {
  font-size: 1.5rem;
  background-color: #323443;
  color: #A3E7B5;
  padding: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
  transition:
  opacity 0.7s ease-out,
  transform 0.7s ease-out,
  overlay 0.7s ease-out allow-discrete,
  display 0.7s ease-out allow-discrete;

}

dialog::backdrop {
background-color: rgb(0 0 0 / 0%);
transition:
  display 0.7s allow-discrete,
  overlay 0.7s allow-discrete,
  background-color 0.7s;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 45%);
  backdrop-filter: blur(4px);
}


input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

input[type="text"],
input[type="datetime-local"],
input[type="color"],
select {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
}

dialog input[type="date"]{
  width: auto;
  border: 1px solid;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

form div:nth-child(3n+1) {
  flex-direction: row;
  gap: 10px;

}

form div:nth-child(3n+1) p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

textarea {
  min-height: 200px;
  min-width: 400px;
  font-size: 1.3rem;
}


form input[type='radio'] {
  opacity: 1;
  background-color: white;
  border-radius: 0;
  
}

form input[type='radio']:checked {
  background-color:#78A083;
  appearance: default;
  border: 1px solid white;
}

form input[type="text"]{
  max-width: 400px;
}
form button {
  color: #A3E7B5;
}
form button:hover {
  background: linear-gradient(to right, #323443 50%,#A3E7B5  50%);
  font-weight: 600;
  background-size: 200% 100%;
  background-position: right bottom;
  color: #323443;
  transition: all ease 0.5s;
  cursor: pointer;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #323443;
  border-radius: 8px;
  gap: 10px;
  border-left: 8px solid green;
  box-shadow: 10px 5px 5px rgba(0,0,0,0.3);
  transition: transform 0.55s ;
}

.project-card:hover {
  transform: scale(1.04);
  
}

.project-card p {
  color:#8bc1d0;
  font-size: 1.5rem;
  font-weight: 500;
  
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15vw, 400px));
  gap: 40px;
  padding: 15px;
  flex: 1;
}

.show-tasks {

  background-position: center;
  background-image: url(./assets/eye-plus-outline.svg) ; 
  transition: transform 0.55s ;
  background-repeat: no-repeat;
}

.show-tasks:hover {
  background-size: auto;
  background-position: center;
  transition: none;
  background-color: transparent;
  background-image: url(./assets/eye-plus-outline.svg) ; 
  opacity: 0.7;
}


.task-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}


.project-header {
  display: flex;
  align-items: center;
}

.project-header h1 {
  margin-left:35vw;
}

.delete-project {
  position: sticky;
  bottom: 100%;
  left: 100%;
  padding: 0;
  font-size: 3rem;
}

.delete-project:hover {
  background: none ;  
  font-weight: 600;
  background-size: none;
  background-position: none;
  color: #78A083;
  transition: none;
  background-color: #323443;
}


#DeleteProject {
  display: flex;
  flex-direction: column;
}

#DeleteProject button {
  color: #A3E7B5;
}

#DeleteProject button:hover {
  background: linear-gradient(to right, #323443 50%,#A3E7B5  50%);
  font-weight: 600;
  background-size: 200% 100%;
  background-position: right bottom;
  color: #323443;
  background-color: #50727B;
  transition: all ease 0.5s;
  cursor: pointer;
}

